.divRegis {
    background-color: #b3b7be;
    border-radius: 10px;
    padding: 30px 10px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    height: 50vh;
    text-align: center;

}

.divCard {
    background-color: #b3b7be;
    border-radius: 10px;
    padding: 30px 10px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    height: 50vh;
    text-align: center;

}

.divCard1 {
    background-color: #b3b7be;
    border-radius: 10px;
    padding: 30px 10px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    height: 50vh;
    text-align: center;

}