.button button {
    display: flex;
    padding: 2vh;
    flex-direction: row-reverse;
    margin-left: 80vh;
    background-color: rgb(109, 107, 107);
    color: aliceblue;
    border-radius: 20%;
}

.button button:hover {
    background-color: rgba(187, 173, 173, 0.74);
    color: black;

}

.button button:active {
    background-color: rgba(187, 173, 173, 0.74);
    transform: translate(2px);
    color: black;
}
